<!-- <footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">&copy; Copyright 2022-23 - PATKAI Management. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer> -->

<footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container text-center">
      <span class="text-muted ">&copy; Copyright 2022-23 - PATKAI Management. All rights reserved.</span>
  </div>
</footer>
