<div>
  <div *ngIf="spinner" class=" rox d-flex justify-content-center spinner-psms">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="!spinner">
    <div *ngIf="!showDtlAndPmt">
      <!--  Admission list Start -->
      <h4 class="text-primary">Admission Detail & Payment</h4>
      <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" placeholder="Search name, admission#, stream, session, contact.. "
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"
          (input)="filterAdmittedRecord($event.target)">
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Admission#</th>
              <th scope="col">Session</th>
              <th scope="col">Stream</th>
              <th scope="col">Name</th>
              <th scope="col">Date of Birth</th>
              <th scope="col">Class</th>
              <th scope="col">Contact</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let admtStnd of admtdStdntsToBind" (click)="rowClick(admtStnd)">
              <td scope="row">{{admtStnd.adm_id}}</td>
              <td>{{admtStnd.session}}</td>
              <td>{{admtStnd.stream}}</td>
              <td>{{admtStnd.first_name + ' ' + admtStnd.middle_name + ' ' + (admtStnd.last_name === null ? '' :
                admtStnd.last_name)}}</td>
              <td>{{admtStnd.dob.substring(0, 10)}}</td>
              <td>{{admtStnd.class}}</td>
              <td>{{admtStnd.phone}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!--  Admission list End -->
    <div *ngIf="showDtlAndPmt">
      <!--  Each admission detail and payment -->
      <h4 class="text-primary">Information for {{admtdStdnDtlToShow.first_name}} </h4>
      <div class="col-12">
        <form class="row gy-2 gx-3 align-items-center bg-light bg-gradient border border-light">
          <div class="col-auto">
            <label class="form-label">Name</label>
            <label style="display:block ;">
              {{admtdStdnDtlToShow.first_name + ' ' + admtdStdnDtlToShow.last_name }}</label>

          </div>
          <div class="col-auto">
            <small class="form-label">Contact</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.phone}}</label>
          </div>
          <div class="col-auto">
            <small class="form-label">DOB</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.dob.substring(0, 10)}}</label>
          </div>
          <div class="col-auto">
            <small class="form-label">Previous School</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.prev_school}}</label>
          </div>
          <div class="col-auto">
            <small class="form-label">Admission in Class</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.admin_in_class}}</label>
          </div>
          <div class="col-auto">
            <small class="form-label">Tribe</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.tribe}}</label>
          </div>
          <div class="col-auto">
            <small class="form-label">Category</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.category}}</label>
          </div>
          <div class="col-auto">
            <small class="form-label">Religion</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.religion}}</label>
          </div>
          <div class="col-auto">
            <small class="form-label">Father's Name</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.father_name}}</label>
          </div>

          <div class="col-auto">
            <small class="form-label">Father's Phone </small>
            <label style="display:block ;">{{admtdStdnDtlToShow.father_phone}}</label>
          </div>
          <div class="col-auto">
            <small class="form-label">Mother's Name</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.mother_name}}</label>
          </div>
          <div class="col-auto">
            <small class="form-label">House No</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.comu_addr}}</label>
          </div>
          <div class="col-auto">
            <small class="form-label">Location</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.comu_loc}}</label>
          </div>
          <div class="col-auto">
            <small class="form-label">Ward</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.comu_ward}}</label>
          </div>
          <div class="col-auto">
            <small class="form-label">District</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.comu_dist}}</label>
          </div>
          <div class="col-auto">
            <small class="form-label">Post office</small>
            <label style="display:block ;">{{admtdStdnDtlToShow.comu_po}}</label>
          </div>
        </form>
      </div>
      <div class="col-12">
        <div *ngIf="spinnerPmt" class=" rox d-flex justify-content-center">
          <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <div *ngIf="!spinnerPmt && rcvdFesStructure.length > 0 " class="bg-light bg-gradient border border-light p-1">
          <h5>Fees payment details</h5>
          <table class="table table-bordered table-striped table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">Particulars</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fee of rcvdFesStructure">
                <td>{{fee.head}}</td>
                <td>{{fee.amount | currency:'INR':'symbol-narrow':'2.2-2'}}</td>
              </tr>
              <tr>
                <th>Total</th>
                <th>{{sumTotalFee | currency:'INR':'symbol-narrow':'2.2-2'}}</th>
              </tr>

            </tbody>
          </table>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
              <button type="button" class="btn btn-primary mt-2" title="Pay Admission Fee" (click)="savePmt()">Pay Admission Fee</button>
              <button type="button" class="btn btn-primary mt-2 ml-2" title="Print Reciept">Print Reciept</button>
              <button type="button" class="btn btn-primary mt-2 ml-2" (click)="clickMisFeesAdd()"
                title="Add Miscellaneous Fees">Add Miscellaneous Fees</button>
              <button type="button" class="btn btn-primary mt-2 ml-2" (click)="clickMisFeesAdd(1)"
                title="Add Miscellaneous Fees">Add Concession</button>
              <button type="button" class="btn btn-secondary mt-2 ml-2 float-right"
                (click)="showDtlAndPmt = !showDtlAndPmt" title="Add Miscellaneous Fees">Back</button>
              <!-- <button type="button" class=" btn-close close btn btn-light mt-2 float-right" aria-label="Close"
                (click)="closeModal()"> *ngIf="showDtlAndPmt"
                <span aria-hidden="true" class="visually-hidden">&times;</span>
              </button> -->
            </div>
          </div>
        </div>
        <div *ngIf="!spinnerPmt && rcvdFesStructure.length === 0">
          <h5> No data payment data found for this student</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #misfeesaddmodal>
  <div class="modal-header">
    <h4 class="modal-title pull-left text-primary text-primary">Add Miscellaneous Fees for
      {{admtdStdnDtlToShow.first_name}}</h4>
    <button type="button" class="btn-close close pull-right text-danger" aria-label="Close" (click)="close()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="misFesspinner" class=" rox d-flex justify-content-center">
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="showMsg">{{msg}}</div>
    <div *ngIf="!misFesspinner">
      <div class="row mb-3">
        <label for="particular" class="col-sm-2 col-form-label col-form-label-sm">Particulars</label>
        <div class="col-sm-10">
          <!-- <input type="text" class="form-control form-control-sm" id="particular" (change)="onParticularsChng()"> -->
          <select class="form-select form-control-sm" aria-label="Select fees"
            (change)="onParticularsChng($event.target.value)">
            <option selected disabled>Choose</option>
            <option *ngFor="let misFee of miscFeesToShow" [value]="misFee.head">{{misFee.head + ' [ ' + (misFee.amount |
              currency:'INR':'symbol-narrow':'2.2-2') +' ]'}}
            </option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="amt" class="col-sm-2 col-form-label col-form-label-sm">Amount</label>
        <div class="col-sm-9">
          <input type="number" class="form-control form-control-sm" [(ngModel)]="selectedmiscFees.amount"
            [disabled]="!isConcession" id="amt">
          <span class="text-danger text-muted" style="font-size: smaller;" *ngIf="isConcession"> Concession is negative amount, will be subtracted from
            total. </span>
        </div>

      </div>
    </div>
    <button type="button" [disabled]="undefined === this.selectedmiscFees.amount || selectedmiscFees.amount === '0'" class="btn btn-primary mt-2" (click)="onAddCkick()" title="Add">Add</button>
    <button type="button" class="btn-close close pull-right text-danger" aria-label="Close" (click)="close()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
</ng-template>

<!-- <h4>Payment</h4>

  <div class="container col-xs-12 col-sm-12 col-md-11 col-lg-11 background-color border" >
    <div class="form-row">
      <div class="form-group col-2">
        <small for="pay_type">Payment Type</small> <br>
          <select style="height:25px; font-size: small; padding-top: 0px; background-color: whitesmoke;"
             id="pay_type" class="form-control form-control-sm"
              (change)="setPaymentType($event.target)" >


            <option [value]="paymentType.desc" selected>{{paymentType.desc}}</option>
            <option *ngFor="let l of paymentTypeList" [value]="l.desc">{{l.desc}}</option>
          </select>
      </div>

      <div class="form-group col-2" *ngIf="paymentType.id=='NEW'">
        <small for="adm_id">Admission id</small>
          <input style="height:25px; " type="text" class="form-control form-control-sm text-capitalize" id="adm_id"
          placeholder="Admission Id">
       </div>

       <div class="form-group col-2" *ngIf="paymentType.id=='OLD'">
        <small for="reg_no">Registration No</small>
           <input style="height:25px; " type="text" class="form-control form-control-sm text-capitalize" id="reg_no"
           placeholder="Registration No">
        </div>

        <div class="form-group col-2">
          <small for="class">Class</small>
             <input style="height:25px; " type="text" class="form-control form-control-sm text-capitalize" id="class"
             placeholder="class">
          </div>


      <div class="form-group col-2">
        <small for="std_name">Student Name</small>
          <input style="height:25px; " type="text" class="form-control form-control-sm text-capitalize" id="std_name"
          placeholder="Name">
      </div>

      <div class="form-group col-2">
        <small for="std_phone">Phone Number</small>
          <input style="height:25px; " type="text" class="form-control form-control-sm text-capitalize" id="std_phone"
          placeholder="Phone No">
      </div>

      <div class="form-group col-1">
          <button type="button" style="height:22px; padding-top: 0px;" class="btn btn-primary btn-sm ml-1 mr-1 mt-4"
                (click)="null">SEARCH</button>
        </div>


    </div>

  </div>

<br>

  <div class="container col-xs-12 col-sm-12 col-md-11 col-lg-11 bg-white  border">
    <div class="form-row ">

      <div class="col-12 scroll-when-long">
        <h6 style="background-color:lightskyblue" *ngIf="!(dummyTableList.length > 0)">No Student Data Available</h6>
        <div class="table-responsive" *ngIf="dummyTableList.length > 0">

          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th scope="col">Reg No</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let std of dummyTableList; let i = index" (click)="rowClick(std)">
                <td>{{std.regNo}}</td>

                <td>{{std.name}}</td>
                <td>{{std.class}}</td>
                <td>{{std.phone}}</td>
                <td>{{std.address}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->
